.control-dots {
    display: flex;
    justify-content: center;
    background-color: #03090d;
    height: 10%;
    align-items: center;
    bottom: -50px !important; 
    position: absolute;
}

.carousel .control-dots {
  z-index: 0 !important;
}

.carousel-status {
    visibility: hidden;
}

.carousel-image {
    min-height: 250px !important;
    max-height: 400px !important;
    object-fit: cover;
}

.carousel.carousel-slider {
    overflow:visible !important;
}