.buy__container {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.buy__container button{
    height: 30px;
    font-weight: 800;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}

.buy > span:before {
    content: 'Buy';
}

.buy {
    width: 100%;
    transition: 0.25s;
}

.buyBTN {
    right: 0;
    position: absolute;
    background-color: #2984c6;
    color: #fff;
}

.max {
    width: 40%;
    transition: 0.25s;
    background-color: #be2b30;
}

.plus {
    width: 40%;
    transition: 0.25s;
}

.up {
    transition: 0.5s !important;
    z-index: 1 !important;
    transform: scale(1) !important;
}

.plus > span:before {
    transition: 1s;
    content: '+';
}

.max > span:before {
    transition: 1s;
    content: 'max';
}

.buy__count {
    position: absolute;
    right: 48%;
    display: grid;
    height: 30px;
    width: 5%;
    place-items: center;
    z-index: -1;
}

.minusBTN {
    width: 40%;
    position: absolute;
    left: 0;
    z-index: -1;
    border-bottom: none;
    transform: scale(0.9);
    transition: 0.2s;
}