
@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Black.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}



* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
}

#root {
  height: 100%;
}

body {
  background-color: #03090d;
}
